.buttonRedBg{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    background-color: #d81e1e;
    width: fit-content;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}